.h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(249, 247, 247);
    border: none;
    padding: 20px;
    font-size: 40px;
   
}
.cakhoi{
    margin-top: 10px;
}

body{
       background-image: image-set(url(../img/backg.jpg));
    background-size: cover;          
    background-repeat: no-repeat;    
    background-position: center;     
    height: 100vh;                   
    margin: 0;                       
    padding: 0;
     display: flex;
  justify-content: center;   
  align-items: center; 
align-items: flex-start
}
.mk,.banla,.dangki{
padding: 10px;
color: aliceblue;
font-size: 25px;

  
}
.mk input,
.mk select{
  
  width: 100%;
  height: 35px;
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
}
.dangki button {
  background-color: rgb(224, 231, 225);
  color: rgb(0, 255, 38);
  border: 2px solid rgb(246, 241, 241);
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.dangki button:hover {
  background-color: rgb(0, 255, 85);
  color: white;
  border: 2px solid white;
  transform: scale(1.05);
}
.cadkdn{
    display: flex;
  
}
